* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: rgb(255, 0, 0);

}

body {
  background-color: #1b1f24 !important;

}
.landing-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item:focus, .dropdown-item:hover {
  /* color: var(--bs-dropdown-link-hover-color); */
  background-color: #1b1f24 !important;
}


.dropdown-menu {
  
  --bs-dropdown-min-width: 8rem !important;
}

.nav-main {
  background: #14171a;
  width: 60%;
  height: 60px;
  position: fixed;
  border-radius: 50px;
  border: 1px solid;
}


.line5 {
  font-size: xx-large;
  font-weight: 700;

}

.icon-color {
  color: #075fe4;
}

.job {

  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.year {
  display: flex;
  gap: 15px;
  align-items: center;
}

.year1 {
  font-size: 60px;
  font-weight: 700;
}

.year2 {
  font-size: large;
  font-weight: 600;
}

.line6.my-5 {

  margin-left: 50px;
}

.company {

  font-size: larger;
  font-weight: 700;
}

.about-color {
  background-color: rgba(45, 52, 63, .4);
  padding: 1px 0 1px 0;
  margin: 51px 0 52px 0;
}

.line7 {
  height: 7px;
  width: 50px;
  background: white;
}

.circel {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70px;
  width: 70px;
  background-color: #075fe4;
  border-radius: 50px;
}

.fa-brands,
.fab {
  font-weight: 400;
  padding: 0 !important;
  margin: 0 !important;
}

.box {
  padding: 50px;
  background-color: #2d343f;
  border-radius: 28px;
}

.line.my-5 {
  height: 10px;
  width: 200px;
  background: white;
}

.contactus {
  height: 100px;
  width: 100%;
  background-color: rgb(34 40 47);
  border: none;
  border-bottom: 1px solid;
  font-size: xx-large;
}

::placeholder {
  font-size: xx-large;
  color: rgba(255, 255, 255, 0.769);
  font-weight: 700;
}

input.contactus:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
p.hovertext{
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
p.hovertext::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 20px;
  background: white;
  transition: width 3s;
}
p:hover:after{
 width: 250px;
}

.circel1 {
  background: #242c37;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

img.logo {
  height: 150px;
  margin: 0px 0px 0px 21px;
}

.foot1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon.my-4 {
  display: flex;
  gap: 31px;
}

.foot3 {
  display: flex;
}

.foot3 {
  display: flex;
  justify-content: space-between;
}


.maia-B {
  position: absolute;
  background-color:  #1b1f24;
  width: 100vw;
}
.canvas1{
  height: 100vh !important;
  width: 100% !important;

}

.project-img{
  height: 500px;
}
img {
  width: 100%;
  height: 100%;

}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.projects {
  height: 250px;
  width: 100%;

}
.projects img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}



.projects-hover{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background:rgba(0,0,0 ,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.projects-hover:hover{
    opacity: 1;
}


.visit {
  background-color: #87CEEB;
  height: 30px;
  width: 17%;
  text-align: center;
}

.visit a {
 text-decoration: none;
 color: #fff;
}
/* resposnsive */

@media only screen and (max-width: 600px) {

  .line6.my-5 {
    margin-left: 0px;
}


.company {
  font-size: small;
   font-weight: 500;
}
}